* {
  border: 0;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left__container {
  flex-grow: 1;
  background-color: #1e282e;
  margin: 10px;
  border-radius: 5px;

  .left__title {
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }

  .left__title a {
    color: white;
    text-decoration: none;
    font-size: larger;
  }


  .lc__options {
    margin-top: 100px;
  }

  .lc__options li {
    padding: 3px 6px;
    margin: 10px 0;
    margin-left: 30px;
    list-style-type: none;
  }

  .lc__options li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }

  .lc__options li:hover a {
    opacity: 0.7;
    cursor: pointer;
  }

  .fa-address-book,
  .fa-list,
  .fa-plus {
    color: white;
    padding-right: 5px;
  }
}

.right__container {
  flex-grow: 8;
  background-color: #ebeef5;
  margin: 10px;
  border-radius: 5px;

  .right__component {
    text-align: center;
    border-bottom: solid 2px #ccc;
  }

  #inputForm {
    padding: 10px;
  }

  .input {
    height: 30px;
    /* height: 65%; */
    width: 40%;
    padding: 2px px 4px;
    border-radius: 5px;
  }

  .submit_btn {
    padding: 7px 11px;
    border: solid 1px;
    background-color: #1e282e;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
}
